/* src/components/Layout.css */
main {
  /* min-height: calc(100vh - 80px);  */
  box-sizing: border-box;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #431612;
  color: #ffffff;
  position: sticky;
  padding: 10px 20px;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}



.logo img {
  height: 80px;
  margin-right: 10px;
}



/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo span {
  font-size: 2rem;
  font-weight: bold;
}

/* Center navbar links */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.navbar a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #e5cf2a;
}

/* Underline effect on hover */
.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #e5cf2a;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}

.voice-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  transition: transform 0.2s ease, color 0.2s ease;
  color: white; /* Default color when OFF */
}

.button voice-toggle.voice-on {
  color: yellow; /* Change color when ON */
}

.voice-toggle:hover {
  transform: scale(1.1);
}



/* Responsive Design */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
  }

  footer {
      font-size: 14px; /* Adjust font size for smaller screens */
  }

  main {
      padding: 0 5px; /* Reduce padding for very small screens */
  }
}

@media (max-width: 480px) {
  .logo img {
      height: 30px; /* Smaller logo for tiny screens */
  }

  .navbar {
      gap: 5px; /* Narrower gap between navigation links */
  }

  footer {
      padding: 8px; /* Adjust padding for footer on smaller screens */
  }
}
